<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add New User</h1>
    <form action="/users/saveuser" method="POST">
        <p><input type="text" name="name" placeholder="Full Name" required /></p>
        <p><input type="email" name="email" placeholder="Email" required /></p>
        <p><input type="password" name="password" placeholder="Password" required /></p>
        <p>
            <label>Role: </label>
            <select name="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </p>
        <p><button>Save</button></p>
    </form>
</body>
</html>
